[Unit]
Description=jukeboxd

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/jukeboxd
WorkingDirectory=/srv/musig-ding/jukeboxd
Environment="NODE_ENV=production"
TimeoutSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jukeboxd
Restart=always

[Install]
WantedBy=multi-user.target


